/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --background-color-blocks: #fff;
    --accent-color: #000;
    --background-color-stripe-start: #d3d3d3;
    --background-color-stripe-end: rgba(0, 0, 0, 0);
    --background-color-start: #e7e7e7;
    --background-color-end: #1a1a1a;
    --like-button-color: #fff;
    --label-card-color: #fff;
    --title-font-weight: 700;
    --text-font-weight: 400;
}

:root.theme-dark {
    --background-color-blocks: #000;
    --accent-color: #00cc14;
    --background-color-stripe-start: #000;
    --background-color-stripe-end: rgba(0, 0, 0, 0);
    --background-color-start: #007f0c;
    --background-color-end: #004306;
    --like-button-color: #00cc14;
    --label-card-color: #000;
    --title-font-weight: 785;
    --text-font-weight: 465;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color-blocks: #000;
        --accent-color: #00cc14;
        --background-color-stripe-start: #000;
        --background-color-stripe-end: rgba(0, 0, 0, 0);
        --background-color-start: #007f0c;
        --background-color-end: #004306;
        --like-button-color: #00cc14;
        --label-card-color: #000;
        --title-font-weight: "wght" 785;
        --text-font-weight: "wght" 465;
    }
}