/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --color-white: #fff;
    --color-black-1: #000;
    --color-black-2: #1a1a1a;
    --color-gray-1: #d3d3d3;
    --color-gray-2: #e7e7e7;
    --color-green-1: #00CC14;
    --color-green-2: #007f0c;
    --color-green-3: #004306;
    --color-red: #FF0000;
    --color-transparent: rgba(0, 0, 0, 0);

    --background-color-blocks: var(--color-white, #fff);
    --accent-color: var(--color-black-1, #000);
    --background-color-stripe-start: var(--color-gray-1, #d3d3d3);
    --background-color-stripe-end: var(--color-transparent, rgba(0, 0, 0, 0));
    --background-color-start: var(--color-gray-2, #e7e7e7);
    --background-color-end: var(--color-black-2, #1a1a1a);
    --heart-color: var(--color-red, #FF0000);

    --font-title: "Press-Start-2P", fantasy;
    --font-text: "Inter", sans-serif;
}






